# Python virtual environments
.venv/
venv/
**/.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE/editor
.vscode/
.DS_Store

.env
.jpynb_checkpoints
/*/.jpynb_checkpoints
/*/*/.jpynb_checkpoints

